<strong>Hello, {{ provider }}</strong>
<p>Someone cancelled an appointment. The details are as follows:</p>
<p>
  <strong>Customer:</strong> {{ user }}; <br>
  <strong>Date/time of cancelled appointment:</strong> {{ date }}. <br>
</p>

<p>
  This date/time is once more available for new schedules.
</p>